<!DOCTYPE html>
<html>
<head>
	<title>viewuser</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<center><h1 class="p-3 mb-2 bg-primary text-white">users</h1></center>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Credit Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for item in objs %}
			<tr>
				<th scope="row">{{item.id}}</th>
				<td><a href="transfer/{{item.name}}">{{ item.name }}</a></td>
				<td>{{ item.credit_amount}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<a href="{% url 'home'%}"><button class="btn btn-primary"> back to home</button></a>
</body>
</html>